.box {
    border: 8px solid black;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    width: fit-content;
    background-color: saddlebrown
}

.box h3 {
    margin-top: 0;
    color: #222;
    font-family: sans-serif;
    background-color: rgb(181, 119, 75) text-align: center;
}

body {
    background-color: rgb(66, 50, 81);
}