
body {
background-color: purple;
}

h1 {
font-size: 350%;
color: white;
}
p {
  font-size: 30px;
  color: fuchsia;

  text-shadow:9px 9px 6px black;
    
   

}
ul {
  border-color: rgb(229, 11, 229);
  border-width: 15px;
  border-style: double;
 
  background-color: silver; 
  font-size: 30px;
}
